name: Publish Docker Image
on:
  push:
    branches:
      - main
jobs:
  publish_to_registries:
    name: Push Docker image to GH/Dockerhub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Log in DH
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login GH Reg
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to DH
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: wallacepf/vaulidate:${{ github.ref }}
      - name: Build container image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: docker.pkg.github.com/${{ github.repository }}/vaulidate:${{ github.ref }}
  